body,
p,
h2,
h3,
h4,
h5,
ul,
hr {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    padding-left: 70px;
    padding-right: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 10000;
}

.header-color_day {
    background-color: #fff;
}

.header-color_day .header-nav__link {
    color: black;
}


.header-logo {
    margin-right: auto;
    background-image: url(./logo.png);
}

.header svg {
    width: 20px;
    height: 20px;
}

.header-nav {
    margin-right: 45px;
    display: flex;
    align-items: center;
}

.header-nav__link {
    font-size: 13px;
    line-height: 13px;
    margin-right: 50px;
    cursor: pointer;
    color: white;
}

.header-nav__link:hover {
    color: #1A8CE3;
}

.header-nav__link:last-child {
    margin-right: 0;
}

.main-intro {
    display: flex;
    flex-direction: column;
    height: 518px;
    padding-left: 70px;
    padding-right: 70px;
    background: url(src/cover-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.main-intro__title {
    margin: 0;
    margin-top: 152px;
    font-size: 48px;
    line-height: 57px;
}

.main-intro__description {
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    width: 540px;
}

.main-intro__button {
    margin-left: 188px;
    margin-top: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #1A8CE3;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header-socials__link {
    margin-right: 20px;
}

.header-socials__link:last-child {
    margin-right: 20px;
}

.main-raitings {
    margin: 0 70px;
    padding-top: 27px;
    display: flex;
    height: 380px;
}

.main-carusel {
    display: flex;
    padding-top: 25px;
}

.main-carusel__content {
    display: flex;
    padding: 0;
}

.main-carusel__card {
    padding-right: 38px;
}

.main-carusel__card:last-child {
    padding-right: 0;
}

button.main-carusel__prev,
button.main-carusel__next {
    padding-top: 50px;
    height: 34px;
    width: 34px;
    background: transparent;
    border: 0;
}

li {
    list-style-type: none
}

.main-card {
    height: 118px;
    width: 118px;
}

.main-card img {
    padding-bottom: 24px;
}

.main-card__additional__info {
    display: none;
    padding-top: 140px;
}

.main-carusel__card:hover .main-card__additional__info {
    display: block;
    position: absolute;
    background-color: black;
    color: #fff;
    height: 86px;
    width: 141px;
    border-radius: 6px;
    margin-top: -85px;
    margin-left: -17px;
    z-index: -10;
    padding-left: 10px;
}

.main-carusel__card:hover .card__main {
    color: #1A8CE3;
}

.main-card__raiting {
    padding-top: 15px;
    padding-left: 67px;
    color: #1A8CE3;
}

.main-card__raiting span {
    position: absolute;
    right: -8px;
}

.main-raitings__divisions {
    padding-left: 11px;
}

.main-diagram {
    padding-top: 25px;
}

.main-diagram__area {
    display: flex;
    padding-bottom: 16px;
}

.main-diagram__area:last-child {
    padding-bottom: 0px;
}

.main-members__button {
    margin-top: 57px;
    margin-left: 121px;
}

.main-calendar {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 727px;
    padding-left: 70px;
    padding-right: 70px;
    background: url(src/cover-calendar.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.main-calendar h2 {
    position: absolute;
    top: 44px;
    right: 0;
    width: 357px;
}

.main-calendar .main-all__events {
    position: absolute;
    bottom: 44px;
    right: 70px;
    color: #fff;
}

.main-months {
    display: grid;
    grid-template-columns: 195px 195px 195px;
    padding-top: 49px;
}

.main-month {
    padding-right: 30px;
    height: 219px;
}

.main-month h3 {
    display: flex;
    height: 35px;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-events {
    padding-top: 15px;
    padding-bottom: 46px;
}

.main-event {
    padding-top: 19px;
}

.main-event div {
    color: black;
}

.main-news {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 736px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}

.main-news__block {
    display: grid;
    grid-template-columns: 518px 518px;
    padding-top: 30px;
    row-gap: 30px;
    column-gap: 66px;
}

.main-news__card {
    display: flex;
}

.main-news__info {
    display: flex;
    flex-direction: column;
    width: 226px;
    padding-left: 42px;
}

.main-news__info h3 {
    padding-bottom: 7px;
}

.main-news__info .main-news__date {
    padding-bottom: 10px;
    color: #1A8CE3;
}

.main-news a {
    position: absolute;
    bottom: 44px;
    text-decoration: none;
    color: black;
}

.main-news a img {
    padding-left: 10px;
}

.main-about {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 74px;
    background-color: #02171E;
    height: 495px;
    color: #fff;
    justify-content: space-between;
}

.main-about__block {
    width: 454px;
}

.main-about__block:last-child {
    padding-left: 100px;
}

.main-about__block h3 {
    width: 188px;
    padding-bottom: 30px;
}

.main-about__block hr {
    height: 4px;
    width: 36px;
    border: 0;
    background-color: blue;
    margin-bottom: 30px;
}

.footer {
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    z-index: 10000;
}

.footer p {
    margin-right: auto;
}

.footer-socilas img {
    margin-left: 20px;
    width: 31px;
    height: 31px;
}

.news-intro {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 518px;
    padding-left: 70px;
    padding-right: 70px;
    background: url(src/cover-news.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

h1 .news-intro__news_title {
    border: 2px solid white;
}

.news-intro hr {
    height: 11px;
    width: 192px;
    border: 0;
    background-color: blue;
    margin-bottom: 30px;
}

.news {
    background-color: #02171E;
}

.news-main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.news-bread__crumbs {
    color: white;
    padding-left: 64px;
    padding-right: 64px;
}

.about-bread__crumbs_color,
.news-bread__crumbs_color,
.news-details-bread__crumbs_color {
    color: #1A8CE3
}

.news-block {
    padding-top: 46px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.news-top {
    display: flex;
    width: 618px;
    height: 331px;
    background-color: #F9F9F9;
}

.news-info {
    padding-top: 19px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.news-info h3 {
    padding-top: 24px;
}

.news-info .news-description {
    padding-top: 41px;
}

.news-info .news-date {
    color: #1A8CE3;
    position: absolute;
    bottom: 22px;
}

.news-raitings__divisions {
    padding-left: 175px;
}

.news-diagram {
    padding-top: 25px;
}

.news-diagram__area {
    display: flex;
    padding-bottom: 16px;
}

.news-diagram__area:last-child {
    padding-bottom: 0px;
}

.news-members__button {
    margin-top: 57px;
    margin-left: 121px;
}

.news-all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
}

.news-cards {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
}

.news-card {
    width: 360px;
    height: 645px;
    background-color: #F9F9F9;
    position: relative;
}

.news-card__wide {
    width: 750px;
    height: 645px;
    background-color: #F9F9F9;
    position: relative;
}

.news-cover {
    width: 360px;
    height: 295px;
}

.news-cover__wide {
    width: 750px;
    height: 295px;
}

.news-card__container {
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 24px;
}

.news-card__container .news-date {
    padding-top: 10px;
}

.news-card__container .news-description {
    padding-top: 18px;
}

.news-card__container .news-card__button {
    position: absolute;
    bottom: 30px;
    right: 106px;
}

.news-all hr {
    width: 65%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 70px;
    border: none;
    border-bottom: solid 1px white;
}

.news-pagination {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 112px;
    width: 400px;
    display: flex;
}

.news-button__pagination {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 15px;
    border-width: 0
}

.news-button__pagination:hover {
    background-color: #1A8CE3;
    color: #F9F9F9;
}

.news-pagination__number:last-child {
    margin-right: 0;
    margin-left: 60px;
}

.news-detail-intro {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 518px;
    background: url(src/news-detail-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.about-bread__crumbs,
.news-details-bread__crumbs {
    color: black;
    padding-top: 20px;
}

.news-details-container {
    display: flex;
    flex-direction: row;
    padding-top: 66px;
}

.news-details-news__info {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}

.news-details-news__date {
    color: #1A8CE3;
    padding-top: 20px;
}

.news-details-news__text {
    padding-top: 30px;
}

.news-details-news__video {
    padding-top: 8px;
    height: 422px;
}

.news-details-carusel {
    display: flex;
    width: 250px;
}

.news-details-carusel__content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    row-gap: 30px;
    height: 600px;
    overflow-y: auto;
}

.news-details-carusel__range {
    position: absolute;
    margin-top: 375px;
    margin-left: -20px;
    transform: rotate(90deg);
    width: 600px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: #1A8CE3;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
}

.news-detail-comments {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.news-detail-comments h1 {
    padding-left: 32px;
}

.news-detail-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding-top: 66px;
    padding-left: 70px;
    padding-right: 70px;
}

.news-detail-comments hr {
    margin-left: 32px;
    padding-top: 54px;
    width: 844px;
    border: 0;
    border-top: solid 1px;
    opacity: 20%;
}

.news-detail-cards__comments {
    display: flex;
}

.news-detail-comments__cards {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.news-detail-comments__card {
    display: flex;
}

.news-detail-comments__name {
    color: #1A8CE3;
}

.news-detail-comments__card img {
    width: 100px;
    height: 100px;
}

.news-detail-comments__description {
    padding-top: 24px;
    padding-left: 24px;
}

.news-detail-comments__input {
    margin-top: 86px;
    margin-left: 100px;
    height: 180px;
    width: 750px;
    border: solid 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.news-detail-comments__submit {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-left: 710px;
    margin-bottom: 100px;
    border: 0;
}

.about-intro {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 518px;
    padding-left: 70px;
    padding-right: 70px;
    background: url(src/about-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.about-intro hr {
    height: 11px;
    width: 184px;
    border: 0;
    background-color: blue;
    margin-bottom: 30px;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}

.about-dance__block {
    position: relative;
    margin-top: 20px;
    margin-left: -70px;
    padding-left: 170px;
    padding-top: 110px;
    height: 469px;
    width: 747px;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(src/about-who-cover.png);
}

.about-dance__description {
    width: 455px;
    padding-top: 40px;
}

.about-dance__block hr {
    height: 8px;
    width: 60px;
    border: 0;
    background-color: blue;
    margin-top: 40px;
}

.about-dance__cover {
    position: absolute;
    top: 43px;
    left: 722px;
}

.about-support {
    position: relative;
    height: 449px;
    width: 923px;
    margin-top: -100px;
    margin-left: 450px;
    padding-top: 102px;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(src/about-support-cover.png);
}

.about-support__title {
    width: 271px;
}

.about-support hr {
    height: 8px;
    width: 60px;
    border: 0;
    background-color: blue;
    margin-top: 40px;
}

.about-support__description {
    margin-top: 40px;
    width: 455px;
}

.about-possibilities {
    height: 200px;
    width: 940px;
    margin-top: 50px;
    margin-left: 121px;
    padding-top: 55px;
    padding-left: 116px;
    background-repeat: no-repeat;
    background: url(src/about-raitings-cover.png);
}

.about-possibilities__description {
    width: 785px;
}

.about-organisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-organisation__title {
    padding-top: 50px;
}

.about-organisation__block {
    margin-top: 22px;
    display: flex;
    width: 1138px;
    height: 349px;
    background-color: #D8D8D8;
    align-items: center;
    justify-content: space-around;
}

.about-organisation__card {
    width: 200px;
}

.about-organisation__card_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-organisation__card_label h3 {
    padding-top: 30px;
}

.about-organisation__card p {
    padding-top: 20px;
    text-align: center;
}

.about-styles {
    margin-top: 50px;
    width: 1280px;
    height: 632px;
    border: solid 1px #D8D8D8;
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    align-items: center;
}

.about-styles-card {
    display: flex;
    flex-direction: row;
}

.about-styles-card img {
    width: 250px;
    height: 400px;
}

.about-styles-card__container {
    padding-left: 112px;
}

.about-styles-card__description {
    width: 645px;
    padding-top: 20px;
}

.about-styles-card__title {
    width: 645px;
}

.about-styles-card__container hr {
    height: 8px;
    width: 60px;
    border: 0;
    background-color: blue;
    margin-top: 40px;
}

.about-styles-card__name {
    padding-top: 20px;
}

.about-styles-carusel {
    display: flex;
    width: 1280px;
    height: 212px;
    background-color: #979797;
    margin-top: 20px;
}

.about-styles-carusel__content {
    width: 1180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-styles-carusel__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-styles-carusel__card img {
    width: 100px;
    height: 130px;
}

.about-styles-carusel__card h3 {
padding-top: 10px;
}

.about-styles-carusel__prev {
    transform: rotate(180deg);
}

.about-styles-carusel button {
    background-color: transparent;
    border: 0;
}

.about-join-us {
    width: 1140px;
    height: 422px;
    margin-top: 50px;
    border: solid 1px #979797;
    display: flex;
    margin-left: 70px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-join-us__container {
    position: relative;
    padding-left: 97px;
    padding-top: 77px;
    width: 294px;
}

.about-join-us__container hr {
    height: 8px;
    width: 60px;
    border: 0;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 26px;
}

.about-join-us__reqeust {
    position: absolute;
    margin-top: 26px;
    border: 0;
    right: 0;
}